<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>バラの種類判定</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel=stylesheet href="../static/style.css">
</head>

<body>
  <div class="wrapper">
    <div class="heading">
        <p>バラの種類判定</p>
    </div>

      <div class="picform">ファイルをアップロードしてください</div>
        <form method = post enctype = multipart/form-data>
          <input type=file name=file>
          <input type=submit value=Upload>
        </form>
      
  </div>
</body>
</html>